html{
	height: 100%;
	padding:0;
	margin: 0;
}

body{
	height: 100%;
	padding:0;
	margin: 0;
	text-align: center;
	background-image: url("congruent_outline.png");
	
}
#top_body{
	height: 100%;
	width: 100%;
	background: #C1D5D5;
	opacity: 0.6;
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	
	
}

#new_user_form{
	display: inline;
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	margin: auto;
	height: 600px;
	width: 500px;
	background-color: #1F333A;
	box-shadow: 0 0 5px #393A3A;
	padding-top: 39px;
	text-align: center;
}
#new_user_form form{
	width: 400px;
	text-align: center;
	display: inline-block;
}

.text_input{
	width: 400px;
	display: inline-block;
	margin-bottom: 20px;
	box-sizing: border-box;
	padding: 10px;
	border:none;
	border-radius: 3px;
}

#title{
	color: #FCFD13;
	font-size: 22px;
	margin-bottom: 20px;
}

.text{
	color: white;
	width: 400px;
	text-align: left;
	margin-bottom: 20px;
}

.text a{
	color: #12D6D2;
	text-decoration: none;
	font-style: italic;
}
.btn{
	width: 400px; 
	text-align: right; 
	padding:10px;
	box-sizing:border-box;
}
.btn button{
	width: 100px;
	background: #1CC0C4;
	border:none;
	padding: 5px;
	border-radius: 3px;
	box-shadow: inset 0 0 4px #054646;
	border: 1px solid #040505;
	color: white;
	font-size: 16px
}


