html{
	height: 100%;
	padding:0;
	margin: 0;
}

body{
	height: 100%;
	padding:0;
	margin: 0;
	text-align: center;	
}
.pattern{
	background-image: url("congruent_outline.png");
}

.panel_color{
	background-color: #1F333A;
}

.panel_shadow{
	box-shadow: 0 0 5px #393A3A;
}

.body_size{
	height: 100%;
	width: 100%;
	left:0;
	right:0;
	top: 0;
	margin-left:auto;
	margin-right:auto;
	position: absolute;
}

.patter_shade{
	background: #C1D5D5;
	opacity: 0.6;
}

.form_wrapper form{
	width: 400px;
	text-align: left;
	display: inline-block;
	text-align: center;
}

#login_form_wrapper{
	height: 250px;
	width: 500px;
	padding-top: 39px;
}
#register_form_wrapper{
	height: 600px;
	width: 500px;
	padding-top: 39px;
}

#profile_form_wrapper{
	height: 600px;
	width: 500px;
	padding-top: 39px;
}

.form_wrapper{
	display: inline-block;
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	margin: auto;
	
}
.form_row{
	margin-bottom: 20px;
	width: 400px;
	text-align: left;
}
.absolute_position{
	position: absolute;
}

.text_input{
	box-sizing: border-box;
	padding: 10px;
	border:none;
	border-radius: 3px;
}

.text{
	color: white;
}

#title{
	color: #FCFD13;
	font-size: 22px;
	margin-bottom: 20px;
}

.link{
	color: #12D6D2;
	text-decoration: none;
	font-style: italic;
}

#registration_link{
	width: 300px;
	position: absolute;
	left: 0;
}

#submit_registration{
	width: 400px; 
	text-align: right; 
	display: inline;
	box-sizing:border-box;
}

.btn_wrapper{
	width: 100px; 
	box-sizing:border-box;
	position: absolute;
	right: 0;
}

.btn{
	width: 100px;
	background: #1CC0C4;
	border:none;
	padding: 5px;
	border-radius: 3px;
	box-shadow: inset 0 0 4px #054646;
	border: 1px solid #040505;
	color: white;
	font-size: 16px
}
.header{
	height: 80px;
	width: 100%;
	top: 0;
	z-index: 100;
}
.left_panel{
	height: 100%;
	width: 250px;
	left: 0;
	z-index: 60;
	display: block;
}
.right_panel{
	height: 100%;
	width: 250px;
	right: 0;
	z-index: 50;
	display: block;
}
.inner_pannel{
	width: 100%;
	height: 100%;
	padding-top: 80px;
	box-sizing:border-box;
}




